*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
Manifest.toml
/dev/
/docs/build/
/docs/site/
*.csv
*.txt
*.laz
*.gpkg
.pytest_cache
.mypy_cache
.ipynb_checkpoints
*.pdf
*.png
*.tif
*.tiff
*.shp
*.dbf
*.prj
*.qpj
*.cpg
*.shx
*.vscode
scripts
*.h5
/test/data
/temp
/output
/data
